.container{
    width: 100vh;
    height: 100vh;
    width:  100vh;
    /* display: flex;
    flex-direction: row; */
    margin: 20%;
    justify-content: center;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}